body{
    background-color: #f5f5f5;
}
header{
    background-color: #333333;
    padding: 1px;
}
h1{
    color: #ffffff;
    text-align:center;
}
nav{
    text-align:center;
}
nav a{
    color: #ffffff;
}
section{
    width: 200px;
    height: 250px;
    margin: 30px;
    background-color: #ffffff;
    text-align:center;
}